header{  
    .menu-header-container{
        display: flex;
        align-items: center;
        flex-direction: column;   
        margin-bottom: 20px;

        .img-logo-header{
            width: 100%;
        }
    }

    nav{
        li{
            list-style: none;
            display: inline-block;
        }       
    }

    .menu-header{ 
        a{
            font-weight: bold;
            padding: 10px;
        }
        a:hover{        
            text-decoration: overline !important;
        
            &:active {
            border-radius: 3px;
            }
        }
    }
}